In [1]:
import pandas as pd
from pyPgSQL import PgSQL # para o PostgreSQL

ModuleNotFoundError: No module named 'pyPgSQL'

In [4]:
#import data sets from pandas   
df = pd.read_csv('https://raw.githubusercontent.com/datasets/covid-19/master/data/countries-aggregated.csv')

In [19]:
#select lines from country = United States
df_us = df[df['Country'] == 'US']

In [20]:
df_us.head()

              Date Country  Confirmed  Recovered  Deaths
132314  2020-01-22      US          1          0       0
132315  2020-01-23      US          1          0       0
132316  2020-01-24      US          2          0       0
132317  2020-01-25      US          2          0       0
132318  2020-01-26      US          5          0       0